html,body{
   
background-color: rgb(231, 152, 57);
}

h1 {
    text-align: center; 
    color: whitesmoke
}

p {font-size: 20px; text-align: justify; font-family: 'Times New Roman', Times, serif;}

ul li {margin-bottom: 10px; }

img {border-radius: 10px;}


table {
    font-weight:lighter
    color: antiquewhite;
    width: 30%;
      margin: 10px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: brown;
    }

.linksite {
      color: rgb(0, 0, 0);   /* Cor normal do link */
      text-decoration: none;
    }

    .linksite:hover {
      color: red;   /* Cor ao passar o mouse */
    }